@import "tailwindcss";

@layer base {
  body {
    background-color: #020617; /* Slate-950 */
    color: #f8fafc; /* Slate-50 */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
}
